<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @profile.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= @profile.surname %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @profile.phone %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= @profile.mobile %>
  </p>

  <p>
    <strong>Street number:</strong>
    <%= @profile.street_number %>
  </p>

  <p>
    <strong>Addressline 1:</strong>
    <%= @profile.addressline_1 %>
  </p>

  <p>
    <strong>Suburb:</strong>
    <%= @profile.suburb %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @profile.state %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= @profile.postcode %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @profile.user.email %>
  </p>

  <%= link_to 'Edit', edit_profile_path(@profile) %>
  <%#= link_to 'Back', profiles_path %>
</div>
