<p id="notice"><%= notice %></p>

<h1>Cart</h1>
<%=current_user.email%>


<br><br>

<table>
  <thead>
    <tr>
      <th>Product #</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <% if current_user.id == order.user_id %>
      <tr>
        <td><%= order.product.id %></td>
        <td><%= order.product.price %></td>
        <%x = order.product.price%>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Remove from Cart', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <br> -->
<%= link_to 'Buy', order_purchase_path %>


<%#= link_to 'New Order', new_order_path %>
