<div class="show">
  <div class="container">
  <p id="notice" style="margin-top: 20px; text-align: center;"><%= notice %></p>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
          <div class="caption">
            <%#if Profile.exists?(user_id: current_user.id)%>
            <% if current_user.profile.present? %>
              <td><%= image_tag(@product.image_url) %></td>
              <p>
              <strong>Description:</strong>
              <%= @product.description %>
              </p>
              <p>
              <strong>Price ($):</strong>
              <%= @product.price %>
              </p>
              <!-- to be able to see(show) @profile.latitude from profile database (table) here in products we need to add it to products, show controller... the relavant geocoder codes are in profile model file-->
              <li><%=image_tag"https://maps.googleapis.com/maps/api/staticmap?zoom=11&size=600x500
              &markers=#{@profile.latitude}%2c#{@profile.longitude}"%>
              </li>
              <% unless current_user.id == @product.user_id %>
              <li><%= link_to 'Add to Cart', order_charge_path(@product.id), :method => :get %></li>
              <!-- <li> <%#= link_to'Contact',contact_path %> </li> -->
              <% end %>
               <!-- need to work on -->
                <!-- <li><%#= link_to 'Add to Cart', edit_order_path(product_id: @product.id, weather: 'sunny'), :method => :get %></li> -->

              <li><%= link_to 'Back', products_path %></li>
              <%if current_user.id == @product.user_id %>
                <li><%= link_to 'EDIT', edit_product_path%></li>
              <% end %>

              <%else%>
              <li><%= link_to 'Please click here to complete your user profile to access for details and purchase', new_profile_path %></li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
