<div class="navbar navbar-default navbar-fixed-top navbar-expand-lg" style="background-color: rgba(255, 255, 255, 1); color: black !important">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"     data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Rugs Online</a>
    </div>

    <% if current_page?(products_path) %>
        <%= form_tag(products_path, method: :get) do %>
          <%= text_field_tag :term %>
          <%= submit_tag 'Search' %>
        <% end %>
    <% end %>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <!-- <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li> -->
        <li><a  href="/products">Gallery</a></li>
        <% if current_page?(products_path) %>
        <li><a  href=" /products/new">Sell</a></li>
        <li><%= link_to 'Cart', orders_path %></li>
        <% end %>
        <% if current_user.present? %>
        <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete%></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
